body{
    background-color: lightblue;
}

h1{
    text-align: center;
}

section{
    margin: 50px auto;
    padding: 10px 0px;
    text-align: center;
    background: white;
    width: 70vw;
    width: 800px
}

.status{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.relogio{
    font-size: 2.5em;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    height: 35px;
    color: white;
}

.iniciar{
    background-color: #1EB334;
    border: 1px solid #1EB334;
}

.iniciar:hover{
    background-color: #00DB22;
    border: 1px solid #00DB22;
}

.pausar{
    background-color: #DBD002;
    border: 1px solid #DBD002;
}

.pausar:hover{
    background-color: #fcef07;
    border: 1px solid #fcef07;
}

.zerar{
    background-color: #DC0501;
    border: 1px solid #DC0501;
}

.zerar:hover{
    background-color: #fd0703;
    border: 1px solif #fd0703;
}