<div>
    <% if(erros.length > 0){ %>
        <div class="mensagem-erro">
            <ul>
                <% erros.forEach(erro => { %>
                <li><%= erro %></li>
                <% }) %>
            </ul>
        </div>
    <% } %>
</div>

<div>
    <% if(success.length > 0){ %>
        <div class="mensagem-success">
            <ul>
                <% success.forEach(mensagem => { %>
                <li><%= mensagem %></li>
                <% }) %>
            </ul>
        </div>
    <% } %>
</div>