<%- include('includes/head') %>

<section>
    <h1>Complete os campos abaixo </h1>
     <form action="/contato" method="post">
        <input type="hidden" name="_csurf">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" autocomplete="off">

        <label for="sobrenome">Sobrenome:</label>
        <input type="text" name="sobrenome" id="sobrenome" autocomplete="off">
            
         <label for="dataNascimento">Data de Nascimento</label>
        <input type="datetime" name="dataNascimento" id="dataNascimento" autocomplete="off">
            
        <button>Concluir cadastro</button>
        </form>
</section>

<%- include('includes/footer') %>