<%- include('includes/head') %>
<%- include('includes/nav') %>

<section>
    <h1>Login Cadastrado</h1>
    <p>Você pode Cadastrar novos contatos</p>
    <p>Seu Login</p>
    <p><%= user.email %></p>

</section>

<%- include('includes/footer') %>